<template>
    <header class="mdl-layout__header mdl-layout__header--scroll mdl-color--primary">
      <div class="mdl-layout--large-screen-only mdl-layout__header-row">
        <h3>{{ title }}</h3>
      </div>
      <div class="mdl-layout__tab-bar mdl-js-ripple-effect mdl-color--primary-dark">
        <a href="#home" class="mdl-layout__tab is-active">Home</a>
        <a href="#other" class="mdl-layout__tab">Other</a>
      </div>
    </header>
</template>

<script>
export default {
  name: 'heading',
  data () {
    return {
      title: 'Harpi'
    }
  }
}
</script>
