<template>
  <div id="app">
    <heading></heading>
    <hello></hello>
  </div>
</template>

<script>
import Hello from './components/Hello'
import Heading from './components/Heading'

export default {
  name: 'app',
  components: {
    Hello,
    Heading
  }
}
</script>

<style src="material-design-lite/dist/material.blue-red.min.css"></style>
<style src="./assets/css/style.css"></style>



